<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - interactive - voxel painter</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}

			#oldie { background-color: #ddd !important }
		</style>
	</head>
	<body>
		<script src="../static/three.js/build/three.js"></script>
		<script src="../static/three.js/examples/js/controls/TrackballControls.js"></script>
		<script src="../static/three.js/examples/js/controls/OrbitControls.js"></script>
		<script src="../static/three.js/examples/js/Detector.js"></script>
		<script src="../static/ammo.js/builds/ammo.js"></script>
		<script src="../static/lib/socket.io.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../static/css/voxelPaint.css">
		
		<!-- CONTAINER WILL HOLD OUR CANVAS -->
		<div id="container" style="position: relative;"></div>

		<script src="../static/js/example6.js"></script><!-- KEEP AT BOTTOM -->

	</body>
</html>
