<html lang="en">
    <head>
        <title>Ammo.js softbody rope demo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style>
            body {
                color: #61443e;
                font-family:Monospace;
                font-size:13px;
                text-align:center;

                background-color: #bfd1e5;
                margin: 0px;
                overflow: hidden;
            }

            .info {
                position: absolute;
                top: 0px; width: 100%;
                padding: 5px;
            }

            a {

                color: #a06851;
            }

        </style>
    </head>
    <body>
		<div id="info" class="info">Ammo.js soft body rope demo<br>Press Q or A to move the arm.</div>
        <div id="container"><br /><br /><br /><br /><br />Loading...</div>

		<script src="static/ammo.js/builds/ammo.js"></script>

        <script src="static/ammo.js/examples/js/three/three.min.js"></script>
        <script src="static/ammo.js/examples/js/three/OrbitControls.js"></script>
        <script src="static/ammo.js/examples/js/three/Detector.js"></script>
        <script src="static/ammo.js/examples/js/three/stats.min.js"></script>
		<script src="static/js/PlaceBrickBreak.js"></script>

       

    </body>
</html>
